@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;700&family=Lexend+Deca&family=Manrope:wght@800&family=Montserrat+Subrayada:wght@400;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Roboto", "sans-serif";
  background-color: ghostwhite;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.search-container {
  margin-bottom: 50px;
}

.search-container input {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}

.search-container button {
  font-size: 18px;
  padding: 5px;
  background-color: rgb(0, 49, 134);
  color: #fff;
  cursor: pointer;
}

.search-container button:hover {
  background-color: rgba(0, 49, 134, 0.9);
}

.weather-data-container {
  background-color: rgb(144, 223, 255);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.txt {
  font-size: 18px;
}

.temp-val {
  font-size: 70px;
  font-weight: bold;
}

.temp-real-feel {
  font-size: 26px;
}

.weather-description {
  font-size: 26px;
}

.margin {
  margin-bottom: 5px;
}

.loading-text {
  font-size: 20px;
  margin-bottom: 10px;
}

.error-text {
  font-size: 20px;
  color: rgb(213, 1, 1);
  margin-bottom: 10px;
}
